body::after {
    color: #4d4d4d;
    content: "Powered by netius";
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin: 24px auto 32px auto;
    text-align: center;
}

body > span {
    display: none;
}

h1 {
    margin: 24px auto 16px auto;
    max-width: 760px;
    text-align: center;
}

h1.path {
    text-align: left;
}

hr {
    display: none;
}

table {
    font-size: 14px;
    margin: 0px auto 0px auto;
}

table th,
table td {
    line-height: 26px;
}

.traceback {
    background: #ffffff;
    border-radius: 12px 12px 12px 12px;
    -o-border-radius: 12px 12px 12px 12px;
    -ms-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -khtml-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    margin: 8px auto 8px auto;
    max-width: 600px;
    padding: 16px 24px 16px 24px;
}

@media screen and (max-width: 760px) {
    h1 {
        margin: 14px 0px 14px 0px;
    }

    table {
        margin: 0px 0px 0px 0px;
    }
}
